@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

.sound_on {
  position: absolute;
  display: block;
  cursor: pointer;
  font-size: 2rem;
}
.sound_off {
  position: absolute;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
